# Include your project-specific ignores in this file
# Read github.com/artabout how to use .gitignore: https://help.icles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
node_modules
dist
.cache
